.badge-secondary {
    color: #fff !important;
    background-color: darkcyan !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #2e2b295e !important;
    border-color: black !important;
}
.btn-primary:focus {
    box-shadow: none !important;
}
.btn-primary:hover {
    color: black !important;
}
/* * {
    outline: 1px solid black;
} */
::-webkit-scrollbar {
    background-color: none;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px gray;
    border-radius: 5px;
    border: 2px solid white
}
*:active, *:focus {
    outline: none !important;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-image: url("/img/Background-Light-13.jpg");
    background-size: cover;
}
#react-app {
    height: 100%;
    width: 100%;
}
.header {    
    box-shadow: 0 0 5px black;
    background: gainsboro;
}
.header .header-settings-btn {
    background: none !important;
    border-width: 0 !important;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 24pt;
    box-shadow: none !important;
}
.header .header-settings-btn:active {
    box-shadow: none !important;
}
.header .header-settings-btn:hover {
    transform: rotateZ(180deg);
}
.header .header-login-badge {
    font-size: 24pt;
    vertical-align: middle;
    cursor: default;
}

.rooms {
    background: #008b8b33;
    height: 100%;
    overflow: hidden;
}
.rooms .add-room-form {
    background-color: white;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid gray;
}
.rooms-accordion-toggle {
    border-radius: 5px 5px 0 0 !important;
    width: 100%;
}
.rooms-accordion-collapse {
    border-radius: 0 0 5px 5px !important;
    border-color: black !important;
}
.rooms .room-list .room {
    cursor: pointer;
}

.chat {
    overflow: hidden;
}
.chat-header {
    background: #008b8b33;
    border-radius: 0;
}
.chat-header .room-title-badge {
    width: 75%;
}
.message-list {
    height: 100%;
    overflow-y: scroll;
}

.message .message-username {
    color: black;
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(152, 152, 152, 0.34) !important;
    
    border-radius: 5px 5px 0 0 !important;
    height: 100%;
    vertical-align: middle;

}
.message .message-text {
    word-break: break-all;
    padding: 5px;
}
.message .message-time {
    border-radius: 0 10rem 10rem 10rem;
    vertical-align: sub;
    background: rgba(152, 152, 152, 0.34) !important;
    color: gray !important;
    height: 100%;
    vertical-align: top;
}
.own-message .message-time {
    border-radius: 10rem 0 10rem 10rem;
}