<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
        <script src="/js/bundle.js"></script>
        <script>
            var settingsHidden = true;
            function showSettings() {
                settingsHidden = !settingsHidden;
                document.querySelector('.settings-pane').style.display = settingsHidden?'none':'grid';
            }
        </script>
        <meta name="csrf-header" th:attr="content=${_csrf.headerName}" />
        <meta name="csrf-token" th:attr="content=${_csrf.token}" />
    </head>
    <body>
        <div id="react-app">
            
        </div>
        
    </body>
</html>